@hauteur_header_module: 25px; 
@temps_transition: 0.5s;
@padding_module: 10px;

.fonofone {
  .mixer {
    position: relative;

    &.grille {
      height: 100%;

      .module > main {
        height: calc(100% - @hauteur_header_module);
      }
    }

    .module {
      background-color: @noir;
      border-radius: 10px;
      padding: @padding_module;
      transition: height @temps_transition;
      display: flex;
      flex-direction: column;

      &.resizing {
        transition: none;
      }

      &.volume {
        .controlleur {
          fill:green;
          stroke:white;
          stroke-width: 0.02;
          fill-opacity:0.5;
        }
      }

      &.selecteur {
        .triangle {
          fill: yellow;
          stroke: white;
          stroke-width: 0.01;
          stroke-linejoin: round;
        }

        .controlleur {
          fill: red;
        }
      }

      & > header {
        height: @hauteur_header_module;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: @gris;
          font-size: 14px;
          display: flex;
          align-items: center;
        }

        img {
          filter: invert(50%);
          transform: rotate(180deg);
          height: 20px;
        }
      }

      & > main {
        height: 150px;
        transition: height @temps_transition;

        svg {
          width: 100%;
          height: 100%;

          .controlleur {
            cursor: move;
          }
        }
      }

      &.collapsed {
        height: calc(@hauteur_header_module + (2 * @padding_module)) !important;

        & > header img{
          transform: none;
        }

        & > main {
          height: 0;
        }
      }
    }

    // En mode colonne, laisser tomber le positionnement absolu
    &.colonne > .module {
      position: relative;
      margin: 20px auto;
      transform: none !important;
      width: 100% !important;
      height: initial !important;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
