@import "./modules/style";

@gris: grey;
@noir: black;
@temps_transition: 0.5s;

.fonofone {
  font-family: "Arial";
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;

  background-color: @gris;

  & > header {
    color: white;
    background-color: @noir;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    .menu-gauche {
      display: flex;
      align-items: center;

      .bouton-controlleur {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
          height: 20px;
        }

        &.actif {
          box-shadow: 1px 1px white;
        }
      }
    }

    .wavesurfer {
      .wavesurfer-region {
        z-index: 0 !important;
      }
    }
  }

  & > main {
    position: relative;
    flex: 1;
    overflow: auto;
    border-radius: 10px;

    .filepond--root {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;

      .filepond--drop-label {
        height: inherit;
      }
    }
  }

  & > footer {
    display: flex;
    height: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: @noir;
  }
}
