@import "./modules/style";

@gris: grey;
@noir: black;
@hauteur_header_module: 25px; 
@temps_transition: 0.5s;

.fonofone {
  font-family: "Arial";
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  & > header {
    color: white;
    background-color: @noir;
    text-transform: uppercase;
    height: 50px;
  }

  & > main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .filepond--root {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;

      .filepond--drop-label {
        height: inherit;
      }
    }

    .interface-creation {
      height: 100%;
      display: flex;

      .mixer {
        flex: 1;

        display: flex;
        flex-direction: column;

        
      }
    }
  }

  & > footer {
    height: 50px;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-bottom: 1px solid @noir;

    .logo {
      margin: 5px;
      height: 25px;
    }

    .menu {
      display: flex;
      align-items: center;

      .hamburger {
        margin: 5px;
        height: 25px;
      }
    }
  }
}

.height-enter-active, .height-leave-active {
  transition: height .5s;
}
.height-enter, .height-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
}
