.fonofone {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: 100%;
  background-color: grey;
  color: white;

  header {
    background-color: black;
    text-transform: uppercase;
    height: 50px;
  }

  main {
    position: relative;
    height: calc(100% - 100px);

    .filepond--root {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;

      .filepond--drop-label {
        height: inherit;
      }
    }

    #grille-wrapper {
      background-color: white;
      height: calc(100% - 100px);

      canvas#grille {
        width: inherit;
      }
    }

    .valeurs-modules {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;

      input {
        width: 50px;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 50px;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-bottom: 1px solid black;

    .logo {
      margin: 5px;
      height: 25px;
    }

    .menu {
      display: flex;
      align-items: center;

      .hamburger {
        margin: 5px;
        height: 25px;
      }
    }
  }
}
